<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_robot">

<xacro:property name="base_link_length" value="0.5"/>
<xacro:property name="base_link_radius" value="0.4"/>

    
<xacro:include filename="/home/adrian/ws_gazebo/src/gazebo_test/model/robot.gazebo"/>

<link name="dummy">
    
</link>

<joint name="dummy_joint" type="fixed">
    <parent link="dummy"/>
    <child link="base_link"/>
</joint>

<link name="base_link">
    <visual>
        <geometry>
            <cylinder radius="${base_link_radius}" length="${base_link_length}"/>
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </visual>

    <collision>
        <geometry>
            <cylinder radius="${base_link_radius}" length="${base_link_length}"/>
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </collision>

    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="1.0"/>
        <inertia ixx="100.0" ixy="0.0" ixz="0.0" iyy="100.0" iyz="0.0" izz="100.0"/>
    </inertial>
    
    
</link>
</robot>